.contact {
  /* padding: 2rem 12rem; */
  margin: auto;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.contact input,
.contact textarea {
  padding: 0.9rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact button {
  padding: 0.9rem;
  background-color: #0e1a2b;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.contact button:hover {
  background-color: #00bcd4;
}

.contact h3 {
  margin-top: 2rem;
  color: #0e1a2b;
}

.contact a {
  color: #0e1a2b;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin-top: 0.5rem;
}

.social-links a {
  color: #0e1a2b;
  text-decoration: none;
}

.social-links a:hover {
  color: #00bcd4;
}
